/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com 
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
    width:800px;
    margin:auto;
}



#header-container {
    /*background-color: #27ae60;*/
    /*display: block;*/

    background-color: #9b59b6;
    /*height: 150px;*/
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size:50px;
    font-weight: bold;
    border:none;
    border-radius:10px;
}





#trail {
    min-height:30px;
    background-color: #7f8c8d;
    padding: 10px;
}
ul{
    list-style: none;
    padding: 0;
}
#tl ul{
    display:inline;
}

#main-container{
    width:800px;
    margin:auto;
    background-color: #ecf0f1;

}
/*div{
    border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;
}*/



.row{
    padding: 0px;
    margin: 0px;
    border:0px;
    margin: auto;
}


.swap{
    width: 30%;
    height: 0;
    padding-bottom: 35%;
    /*      display: inline-block;*/
    float: left;
}

.cell{
    /*display: inline-block;*/
    overflow: hidden;

    width: 100%;
    height: 0;
    padding-bottom: 100%;

    /*width:0;*/
    /*      height: 150px;
          width: 110px;*/
    /*float: left;*/
}

.img {
    /*height: 100px;*/
    /*  padding: 10px;
    *//*clip:rect(10px,10px,10px,10px);
    */
    
    margin: 0 auto 0 auto;
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
    /*display: inline-block;*/


}


div.cell.selected {
    width: 130%;
    margin-left: -15%;
    margin-top: -15%;
    height: 130%;
    overflow: visible;
}

/*.cell div.tag{
    background-color: #ff00ff;
    overflow: visible;
}*/

button.tag{
    padding: 1%;
    width: 30%;
    /*max-height: 10px;*/
}

div.tag{
    display: inline-block;
    margin: 0 auto 0 auto;
    border: 0;

    width: 100%;
/*    height: 0;
    padding-bottom: 35%;*/

    overflow: scroll;
}

.node{
    color: #89a89a;
    display: inline-block;
    min-width: 15px;
    min-height: 15px;
    padding: 5px;
    margin: 5px;
    background-color: #123123;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
fieldset{
    display: block;
    padding-bottom: 10px;
    min-height: 25px;
    width: 140px;

}
#browse{
    background-color: #ffffff;
    /*height: 20px;*/
    padding:10px;
    text-align: center;
}
#grid{
    margin: auto;
    background-color: #ecf0f1;
    min-height: 600px;
    height:80%;
    width:90%;
}




div{
    border:  1px solid #000000;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

